<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.felixwc.mybatis22.dao.mapper.SchoolMapper">
    <resultMap id="schoolResultMap" type="School">
        <id column="school_id" property="id"></id>
        <result column="school_name" property="name"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="updated_time" property="updatedTime"></result>
        <result column="deleted_flag" property="deletedFlag"></result>
        <association property="address" javaType="Address">
            <result property="zone" column="school_zone"></result>
            <result property="detailAddress" column="column_detail_zone"></result>
        </association>
    </resultMap>
    <select id="getById" resultMap="schoolResultMap" >
        select school_id,school_name,school_zone,school_detail_address,
        created_time,updated_time,deleted_flag
        from t_school
        where school_id= #{id}
    </select>

</mapper>